In [15]:
7+3**6

736

In [16]:
(3+4)**3

343

In [17]:
3**6-5

724

In [5]:
(1+2)**3

27

In [18]:
(1+2**8)*5

1285

In [19]:
(2+1**8)**7

2187

In [6]:
"Da"*4

'DaDaDaDa'

In [7]:
"Da"+3

TypeError: can only concatenate str (not "int") to str

In [8]:
("Pa"+"La")*2

'PaLaPaLa'

In [9]:
("Da"*4)/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
5/2

2.5

In [11]:
5//2

2

In [12]:
5%2

1

In [20]:
str(4)*int("3")

'444'

In [21]:
int("3")+float("3.2")

6.2

In [22]:
str(3)*float("3.2")

TypeError: can't multiply sequence by non-int of type 'float'

In [23]:
str(3/4)*2

'0.750.75'